---
Name: elemental-template-settings
---

Page:
  elemental_template_inherited:
    ElementalArea:
      elements:
        - MyElementalBlock
      elements_bottom:
        - MyFooterBlock

MyOtherPage:
  elemental_template_uninherited:
    ElementalArea:
      elements_top:
        - MyElementalBlockSpecific
        - MyElementalOtherSpecificBlock
      elements:
        - MyElementalBlockSpecific
        - MyElementalOtherSpecificBlock

# NOTE:
# inherited_elements inherits for other pages that are descendents of the Page class
# uninherited_element does inherit for other pages that are descendents of MyOtherPage class
